<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".data.Aplicacion"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PruebasRecycler"
        tools:targetApi="31">
        <activity
            android:name=".presentacion.CustomLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentacion.EdificiosActivity"
            android:label="Vista Lista Edificios">
        </activity>
        <activity android:name=".presentacion.VecinosActivity"
            android:label="Vista Lista Vecinos">
        </activity>
        <activity android:name=".presentacion.AnunciosActivity"
            android:label="Vista Lista Anuncios">
        </activity>
        <activity android:name=".presentacion.ContactosActivity"
            android:label="Vista Lista Contactos">
        </activity>
        <activity
            android:name=".presentacion.LoginActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".presentacion.MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".presentacion.TwitterActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Cuenta"
            android:exported="true">
        </activity>
        <activity
            android:name=".presentacion.CambiarPerfilActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>